.reward-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.reward-button {
  width: 300px;
  padding: 12px 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: rgb(155, 155, 155);
  transition: background-color 0.3s ease;
}

.reward-button:hover {
  background-color: tomato;
  transform: scale(1.05);
}

.reward-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.reward-modal h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reward-confirm p {
  font-size: 16px;
  font-weight: bold;
  color: tomato;
}

.reward-confirm button {
  width: 100px;
  padding: 12px 20px;
  margin: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #bddce9;
  transition: background-color 0.3s ease;
}

.reward-confirm button:hover {
  background-color: tomato;
  transform: scale(1.08);
}

@media (min-width: 769px) {
  .reward-modal {
    width: 40%;
  }
}
